.header-container{
    border: 2px solid rebeccapurple;
    background-color: aquamarine;
    box-shadow: 6px 17px 13px 8px rgba(0,0,0,0.75);
    margin: 24px auto;
    border-radius: 43px;
}
.texto{
    text-align: center;
    text-decoration: underline;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}